php_value memory_limit 128M
php_value upload_max_filesize 200M
php_value post_max_size 200M
php_value max_execution_time 450
php_value max_input_time 400
php_value max_input_vars 10000

# Turn on URL rewriting
RewriteEngine On

# Installation directory
RewriteBase /

# Удаляем "www."
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

# Protect hidden files from being viewed
<Files .*>
	Order Deny,Allow
	Deny From All
</Files>

# Protect application and system files from being viewed
RewriteRule ^(?:application|modules|system)\b.* index.php/$0 [L]

# Allow any files or directories that exist to be displayed directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Rewrite all other URLs to index.php/URL
RewriteRule .* index.php/$0 [PT,L]

# Для повышенной безопасности от xss
AddDefaultCharset UTF-8